body {
    background-image: url("images/background/Gray-Abstract-Wallpapers-007.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.top_bar {
    width: auto;
    height: auto;
    background-color: black;
}

#top_img_wrap {
    max-width: 100%;
    max-height: 400px;
    height: auto;
    width: auto\9; /* ie8 */

    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: black;
    background-repeat: repeat-x;

}


#meimage {
    float: left;
    max-width: 200px;
    max-width: 200px;
    height: auto;
    width: auto;
    border-radius: 50%;
}

#mebox {
    max-width: 1000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: small;
    text-align: start;
    margin: 20px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.navigation_wrap {
    position: sticky;
    top: 0px;
}

.nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e2e2e;

  }
  
  .nav_list_item {
    float: left;
  }
  
  .nav_list_item_a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
  }
  
  /* Change the link color to #1f1f1f on hover */
  .nav_list_item_a:hover {
    background-color: #1f1f1f;
  }