body {
    background-image: url("images/background/Gray-Abstract-Wallpapers-007.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.navigation_wrap {
    position: sticky;
    top: 0px;
}

.nav_list {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(46, 46, 46);

  }
  
  .nav_list_item {
    float: left;
  }
  
  .nav_list_item_a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: large;
    transition: all .2s ease-in-out;
  }
  
  /* Change the link color to #1f1f1f on hover */
  .nav_list_item_a:hover {
    color: rgb(209, 255, 162);
    background-color: #1f1f1f;
    transform: scale(1.1);
  }